<button onclick="location.href='/module/{{course}}'">Cancel</button>


<form class="newModForm" id="new-mod" method="post" action="/{{course}}/newModule">
    <div>
        <label for="mod_title">Enter title</label>
        <textarea name="mod_title" id="mod_title"></textarea>
    </div>
    <div class="error" id="no-title-mod" hidden>Please provide a title</div>
    <div>
        <label for="mod_description">Enter Description</label>
        <textarea id="mod_description" name="mod_description"></textarea>
    </div>
    <div class="error" id="no-desc-mod" hidden>Please provide a description</div>
    </br>
    <button class="submit" type="submit">Create Module</button>
    </br>

</form>
<div>
    {{error}}
</div>
