
<button onclick="location.href='/logout';">Log Out</button>

<header>
    <h1> Admin Page</h1>
</header>
<div>
    <a href='/admin/faculty'>Faculty Management</a>
</div>
<div>
    <a href='/admin/student'>Student Management</a>
</div>
<div>
    <a href='/admin/course'>Course Management</a>
</div>
<div>
    <a href='/admin/openRegister'>Open Registration</a>
</div>
<div>
    <a href='/admin/archive'>Archive Semester</a>
</div>