<button onclick="location.href='/admin';">Back</button>
<p>End Semester and Archive all Courses?</p>
<form onsubmit="return confirm('Confirm?');" action="/admin/archive" method="post">
    <button type="submit">Archive</button>
</form>