<main>
  <div>{{error}}</div> 
  <div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>  
  <form action="/register" method="POST" id="registration-form">
          <label for="firstNameInput">
            First Name: 
            <input type="text" name="firstNameInput" id="firstNameInput"/>
          </label>   
          <label for="lastNameInput">
            Last Name:
            <input type="text" name="lastNameInput" id="lastNameInput"/>
          </label>  
          <label for="emailAddressInput">
            Email Address:
            <input type="email" name="emailAddressInput" id="emailAddressInput"/>
          </label> 
          <label for="passwordInput">
            Password:
            <input type="password" name="passwordInput" id="passwordInput"/>
          </label> 
           <label for="confirmPasswordInput">
            Confirm Password
            <input type="password" name="confirmPasswordInput" id="confirmPasswordInput"/>
          </label>
          <label for="birthDateInput">
            Birth Date:
            <input type="text" name="birthDateInput" id="birthDateInput"/>
          </label> 
            <label for="majorInput">
            Major
            <input type="text" name="majorInput" id="majorInput"/>
          </label>
          <label for="genderInput">
            Gender:
            <select id="genderInput" name="genderInput">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            </select>
          </label> 
           {{!-- <label for="roleInput">
            Role:
            <select id="roleInput" name="roleInput">
            <option value="student">Student</option>
    
            </select> --}}
          {{!-- </label> 
              <label for="courseInProgressInput">
            Courses Registered:
            <select id="courseInProgressInput" name="courseInProgressInput">
            <option value="student">Student</option>
    
            </select>
          </label>       --}}
          <button type="submit">Submit</button>
    </form>
    {{!-- <a href="/login">Already have an account? Click here to log-in</a> --}}
</main>