<form id="form" onsubmit="return confirm('Confirm?');" action="/assignment/{{assignmentId}}/newSubmission" method="post">
    <label for="submitFile">File:</label>
    <input type="text" id="submitFile" name="submitFile"/>
    <br>
    <label for="comment">Comment (Optional)</label>
    <textarea id="comment" name="comment"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>

<div id="error" hidden>
    <p>Please enter valid input</p>
    <p>File is the link to your uploaded file: www.example.com</p>
</div>
<script src="../../public/js/submitCheck.js"></script>