<button onclick="location.href='/admin';">Back</button>

<h1>Create a course</h1>

<form id="registration-form" method="POST" action="/admin/createcourse">

    <div>
        <label for="courseTitle">course title:</label>
        <input type="text" id="courseTitle" name="courseTitle" required>
    </div>

    <div>
        <label for="courseId">course Id:</label>
        <input type="text" id="courseId" name="courseId" required>
    </div>
    <div>
        <label for="description">description:</label>
        <input type="text" id="description" name="description" required>
    </div>

    <label for="facultyInput">Course:</label>
    <select id="facultyInput" name="facultyInput" required>
        {{#each allFaculty}}
        <option value="{{this._id}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <div>
        <button type="submit">Create</button>
    </div>
</form>


{{#if error}} <p class="error">{{error}}</p>{{/if}}