<button onclick="location.href='/course';">Back</button>

<h1>Register a course</h1>
<form id="registration-form" method="POST" action="/course/registercourse">

    <label for="courseInput">Course:</label>
    <select id="courseInput" name="courseInput" required>
        {{#each allCourses}}
        <option value="{{this._id}}">{{this.courseId}} {{this.courseTitle}}</option>
        {{/each}}
    </select>

    <div>
        <button type="submit">Register</button>
    </div>
</form>