<button onclick="location.href='/course';">Back</button>
<h1>Welcome to library</h1>

<div>School Resources</div>
<a href="/quizlet">Quizlet</a>


<div>External Resources</div>
<a href="https://scholar.google.com/">Google Scholar</a>
<a href="https://www.jstor.org/">JSTOR</a>
<a href="https://www.researchgate.net/">ResearchGate</a>





