/* body{
    background-color:cornflowerblue;
} */

.inputClass {
    border: 3.8px solid red
}   


/* https://www.youtube.com/watch?v=6OLYaQ7AUXA&t=13s */
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
.box.animate .content {
    transform: rotateY(180deg);
}
.box,
.front, 
.back {
	width: 345px;
	height: 400px;
}
.content {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px;
    background-color: beige;
}
.back {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px;
    transform: rotateY(180deg);
    background-color: beige;
}

.back-content {
	/* border: 10px inset #ddd; */
	padding: 120px 5px;
}
.back-content h2 {
	/* font-family: 'Arizonia'; */
	font-size: 30px;
}