<main>
  <div id="error">{{error}}</div>  
  <form action="/login" method="POST" id="login-form">
          <label for="emailAddressInput">
            Email Address: 
            <input type="email" name="emailAddressInput" id="emailAddressInput"/>
          </label>   
          <label for="passwordInput">
            Password
            <input type="password" name="passwordInput" id="passwordInput"/>
          </label>       
          <button type="submit">Submit</button>
    </form>
</main>
<a href="/register">Click here to register as a student!</a>
<script src="../../public/js/loginCheck.js"></script>
<a href="/register">Does not have an account? Click here to sign up as a student</a>

